<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
  
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/about.css">
</head>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>


    <div class="profile">
      <div class="mypic">
        <img src="/img/me.jpg" alt="My Photo" style="width: 100%;">
      </div>

    <div class="info">
    
    <p> Hi there! My name is Theia and I'm an adrenaline junkie who loves extreme sports. You can usually find me skysurfing, 
        paragliding, scuba diving, or windsurfing. When I'm not out chasing the next thrill, I'm honing my skills as a freelance 
        video editor and photographer.</p>

    <p>  Currently, I'm studying in the Software Engineering Technology program at Centennial College with a goal to become a front-end developer. 
         I'm passionate about learning new skills and I'm always eager to take on new challenges.</p>
        
    <p>  I'm an easygoing person who enjoys spending time with friends and family. My creativity extends beyond my hobbies and work, 
         as I love to explore different forms of art and design.</p>
        
    <p> Thanks for stopping by and getting to know me a little better!</p>
    
    </div>
    </div>

        <div class="resume">        
            <p>Check out my <a href="/img/resume.pdf">resume</a> 
            for more information about my work experience and skills.</p>
        </div>

    </div>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   